# Base de datos PostgreSQL
DB_HOST=nombre_contenedor_db
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name

# Administrador
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# Número de WhatsApp del restaurante (código país + número)
WHATSAPP_NUMBER=123456789