# ---- 1. Archivos sensibles ----
.env
.env.example

# ---- 2. Archivos binarios compilados localmente ----
bin/
main
main.exe

# ---- 3. Directorios de control de versiones y documentación ----
.gitignore
README.md

# ---- 4. Archivos temporales o de test de Go ----
*.test